lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

*.swp
*.swo
.DS_Store

utils/data/allseen.json
utils/data/alltx.json
txs/
txs-backup/
*alltx.json
*allseen.json
utils/data/backup*
log-backup/*
server-backup/