    
<div class="container animated fadeInUp">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="manage-account-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3  class="panel-title">Swap Request details</h3>
                            <!--button class="btn btn-success pull-right startSwap disabled" disabled="true">Send Request</button-->
                        </div>
                        <div class="panel-body">
                            <div class="section">
                                <div class="container-fluid">                                   
                                    <div class="row">
                                        <div class="responseContents">
                                           <b>Total swap request</b> {{A_TotalOfBalances}}<br>
                                           <b>Total bonus (15%)</b> {{B_BonusAmount}}<br>
                                           <b>Total Swap</b> {{C_TotalSwapRequested}}<br>
                                           <b>Mnemonic Phrase</b> {{mnemonic}}<br>
                                           <b>Counterparty Address</b> {{CounterpartyAddress}}<br>
                                           <h3>Signatures</h3>
                                           {{#each SwapSignatures}}
                                            <b>Legacy Address</b> {{coval.covalAddress}} <br>
                                            <b>Loyyal Address</b> {{contract.signerAddress}} <br>
                                            <b>R</b> {{contract.signatureR}}<br>
                                            <b>S</b> {{contract.signatureS}}<br>
                                            <b>Version</b> {{contract.signatureVersion}}<br>
                                            <b>Core Signature</b> {{coval.signature}}<br>
                                            <b>Payload to sign</b> {{coval.toSign}}<br>
                                            <b>Burn Transaction</b> <div style="overflow-wrap: break-word;">{{coval.serializedBurn}}</div>
                                            <b>Burn Balance</b> {{coval.burnBalance}}<br>
                                            
                                            <hr>
                                            {{/each}}
                                            <hr>
                                            <h3>Server Response</h3>
                                            <b>Success:</b> {{serverResults.pass}}<br>
                                           {{#each serverResults.result}}
                                                <b>Correct Balance Provided:</b> {{correctBalance.valid}}<br>
                                                <div> {{correctBalance.msg}}</div>
                                                <b>Payloads Match:</b> {{payloadMatch.valid}}<br>
                                                <div> {{payloadMatch.msg}}</div>
                                                <b>Legacy Signature Validates:</b> {{verifyLegacy.valid}}<br>
                                                <div> {{verifyLegacy.msg}}</div>
                                                <b>Burn transaction signed:</b> {{burnSigned.valid}}<br>
                                                <div> {{burnSigned.msg}}</div>
                                                <b>Burn transaction is not a doublespend:</b> {{notDoubleSpend.valid}}<br>
                                                <div> {{notDoubleSpend.msg}}</div>
                                                <b>Burn transaction ID:</b> {{burnTransaction.txid}}<br>
                                                <div> {{burnTransaction.msg}}</div>
                                                <hr>
                                           {{/each}}
                                           <hr>
                                           <h3>Debug information</h3>
                                           <textarea>{{safe}}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


